<div class="self-center mx-auto text-center">
    <div>
        <%= live_redirect to: Routes.product_index_path(@conn, :index), class: "" do %>
            <span class="my-2 border px-4 py-2 border-gray-400 bg-white-red rounded">
                Produtos
            </span>
        <% end %>
    </div> 
</div>